<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body data-spy="scroll" data-target="nav" data-offset="100">
    <h1>
      {{title}}
      <a href="{{repo}}" target="_blank" class="repo-link">
        <i class="fa fa-github"></i>
      </a>
    </h1>
    <nav>
      <ul class="nav">
        {{#each functions}}
        <li>
          <a href="#{{this._dok_anchor}}" data-lineno="{{this.lineno}}">{{this.name}}</a>
        </li>
        {{/each}}
      </ul>
    </nav>
    {{#each sections}}
    <section>
      {{{this}}}
    </section>
    {{/each}}
  </body>
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/prism.js"></script>
  <script>
    // add 'language-javascript' to <code> blocks (some already have it)
    var codeBlocks = document.getElementsByTagName('code');
    for (var i = 0; i < codeBlocks.length; i++) {
      var block = codeBlocks[i];
      block.classList.add('language-javascript');
    }
    // add hover links to all function headings
    var headings = document.getElementsByTagName('h3');
    for (var i = 0; i < headings.length; i++) {
      var heading = headings[i];
      var id = heading.getAttribute('id');
      // create anchor link for deep linking to function
      var anchorLink = document.createElement('a');
      anchorLink.href = '#' + id;
      anchorLink.classList.add('link');
      anchorLink.innerHTML = '<i class="fa fa-link"></i>';
      heading.appendChild(anchorLink);
      // create link to github repo code with line number
      var navLink = document.querySelector('a[href="#' + id + '"]');
      var lineno = navLink.getAttribute('data-lineno');
      var sourceLink = document.createElement('a');
      sourceLink.href = '{{repo}}/blob/master/{{main}}#L' + lineno;
      sourceLink.classList.add('source-link');
      sourceLink.innerHTML = '<i class="fa fa-code"></i>';
      sourceLink.target = '_blank';
      heading.appendChild(sourceLink);
    }
    // highlight
    Prism.highlightAll();
  </script>
</html>
